
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Poppins:wght@400;600;700&family=Roboto:wght@100&family=Silkscreen&family=Work+Sans:ital,wght@0,200;0,400;0,600;1,700&display=swap');

nav a {
    padding: 2.5rem;
}
nav {
    background-color: rgb(243 244 246) ;
}
#contact {
    color: red;
}

li {
    border: 1px solid;
    border-radius: 5px; 
    background: antiquewhite; 
    padding: 10px;  
    margin: 5px; 
}
li:hover {
    background-color: #f74747;
}
form {
    background: white; 
    border: 1px solid #dddddd;
    padding: 25px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #0000000f;
}
form div {
    margin: 10px; 
}
form input {
   border: 1px solid #ddd;
   border-radius: 5px; 
   padding: 15px; 
   font-size: 1.0rem ; 
   font-family: 'Poppins', sans-serif;
}
form label {
    display: inherit;
    font-size: .9rem;
    padding-bottom: 3px;
    color: #9d9d9d;

}
form button {
    border: 1px solid #ddd; 
    padding: 10px 25px;
    font-size: 1.1rem; 
    margin: 10px 0; 
    border-radius: 5px;
}
form button:hover{background-color:orange;}

form button:focus{background-color:green;}

.form-error {
    margin: 0;
    color: #f74747; 
    font-size: .7rem;
}
.button-delete {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-delete:hover,
.button-delete:active {
   background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-delete:active {
  opacity: .5;
}

.button-edit {
    background: #0eda59;
    border: 1px solid #0eda59;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-edit:hover,
.button-edit:active {
   background-color: initial;
  background-position: 0 0;
  color: #0eda59;
}

.button-delete:active {
  opacity: .5;
}